# Dependencies
frontend/node_modules/
backend/vendor/

# Build output
frontend/dist/
frontend/dist-ssr/

# Logs
*.log
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Go binaries
backend/*.exe
backend/bedroomfm
